<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="monitor-folder" value="D:\Сейф\С#\Tasks\MonitorTask\Materials\Monitor"/>
    <add key="ready-folder" value="D:\Сейф\С#\Tasks\MonitorTask\Materials\Ready"/>
    <add key="watcher-connection" value="Server=(localdb)\\mssqllocaldb;Database=File_watcher;Trusted_Connection=True;"/>
    <add key="data-connection" value="Server=(localdb)\\mssqllocaldb;Database=Monitor_data;Trusted_Connection=True;"/>
  </appSettings>
</configuration>